{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <h2>{{ article.title }}</h2>
    <div class="lead">所属主题：<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></div>
    <small class="text-muted">{{ topic.owner }} · {{ topic.date_added | naturaltime  }}</small>
    {% if user.is_authenticated and topic.owner == user %}
        <div class="text-right">
            <a href="{% url 'learning_logs:edit_article' topic.id %}" class="btn btn-outline-primary">编辑文章</a>
        </div>
    {% endif %}
{% endblock page_header %}

{% block content %}
    <div>{{ article.content | linebreaksbr }}</div>
{% endblock content %}