{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <div class="alert alert-primary alert-dismissible fade show px-4 py-5" role="alert">
        <h1 class="display-4">记录一些，分享一些。</h1>
        <hr class="my-4">
        <p class="lead">🎉 新年快乐，欢迎来到蒲公英。这是一个内容创作与分享的平台，你可以在这里撰写文章，还可以在广场中分享一些你的想法。全世界的人都可以看到你，让蒲公英飘到世界上每一个角落。</p>
        <div class="text-right mb-3">
            <cite>
                <a href="/user/1/" class="text-reset">Chaong</a>
            </cite>
            <br/>
            <cite>2022年1月16日</cite>
        </div>
        {% if user.is_authenticated %}
            <a class="btn btn-lg btn-primary px-5" href="{% url 'learning_logs:topics' %}" role="button">进入主题 &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-primary px-5" href="{% url 'users:register' %}" role="button">马上注册 &raquo;</a>
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h2>📄 文章</h2>
{% endblock page_header %}

{% block content %}
    {% for article in articles %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article.title }}</a>
                </h5>
                <div class="text-muted mb-2">
                    <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article }}</a>
                </div>
                <small class="text-muted">
                    <a href="{% url 'learning_logs:topic' article.topic.id %}" class="text-reset">{{ article.topic }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                    <a href="{% url 'learning_logs:user' article.topic.owner.id %}" class="text-reset">{{ article.topic.owner }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                    <span title="{{ article.date_added }}">{{ article.date_added | naturaltime }}</span>
                </small>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现文章 🧐</div>
    {% endfor %}
{% endblock content %}