{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <div class="alert alert-primary alert-dismissible fade show px-4 py-5" role="alert">
        <h1 class="display-4">记录学习，分享成长</h1>
        <hr class="my-4">
        <p class="lead">哈喽，欢迎来到蒲公英。在这里可以轻松创建自己的学习记录，还可以在广场中与人分享，让更多的人知道并与您一起成长。以下是我们为您推荐的使用步骤：</p>
        <ol class="lead">
            <li>创建主题</li>
            <li>在主题下写篇文章</li>
            <li>分享文章到广场</li>
        </ol>
        {% if user.is_authenticated %}
            <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">进入主题 &raquo;</a>
        {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">立刻注册 &raquo;</a>
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h2>公开主题</h2>
{% endblock page_header %}

{% block content %}
    {% for topic in topics %}
        <div class="card mb-3">
            <div class="card-body">
                <a href="{% url 'learning_logs:topic' topic.id %}" class="stretched-link text-body text-decoration-none">
                    {{ topic }}<small class="text-muted ml-3">{{ topic.description }}</small>
                </a>
                <small class="float-right text-muted">{{ topic.owner }} · {{ topic.date_added | naturaltime }}</small>
            </div>
        </div>
    {% empty %}
        <p>没有发现主题哦 ~</p>
    {% endfor %}
{% endblock content %}