{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block page_header %}
    <h2>🪐 广场</h2>
    {% if user.is_authenticated %}
        <div class="text-right">
            <a class="btn btn-primary px-4" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">分享蒲公英</a>
        </div>
    {% endif %}
    <div class="collapse" id="collapseExample">
        <form action="{% url 'learning_logs:new_dandelion' %}" method="post" class="form mt-3">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">取消</a>
                <button name="submit" class="btn btn-primary px-5">分享</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock page_header %}

{% block content %}
    {% for dandelion in dandelions %}
        <div class="card mb-3">
            <div class="card-body">
                {% if dandelion.anonymous %}
                    匿名用户
                {% else %}
                    <a href="{% url 'learning_logs:user' dandelion.owner.id %}" class="text-reset">{{ dandelion.owner }}</a>
                {% endif %}
                {% if user.is_authenticated and dandelion.owner == user %}
                    <div class="float-right" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'learning_logs:delete_dandelion' dandelion.id %}">删除</a>
                    </div>
                {% endif %}
                <div class="my-2">{{ dandelion.content | linebreaksbr }}</div>
                <small class="text-muted" title="{{ dandelion.date_added }}">{{ dandelion.date_added | naturaltime }}</small>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现蒲公英 🧐</div>
    {% endfor %}
{% endblock content %}