{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% load humanize %}

{% block page_header %}
    <h2>广场</h2>
    {% if user.is_authenticated %}
        <div class="text-right">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">制作蒲公英</a>
        </div>
    {% endif %}
    <div class="collapse mt-3" id="collapseExample">
        <form action="{% url 'learning_logs:new_dandelion' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <a class="btn btn-outline-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">取消</a>
                <button name="submit" class="btn btn-primary">分享蒲公英</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock page_header %}

{% block content %}
    {% for dandelion in dandelions %}
        <div class="card mb-3">
            <div class="card-body">
                {% if dandelion.anonymous %}
                    <div class="font-weight-bold">匿名用户</div>
                {% else %}
                    <div class="font-weight-bold">{{ dandelion.owner }}</div>
                {% endif %}
                <small class="text-muted">{{ dandelion.date_added | naturaltime }}</small>
                <div class="my-3">{{ dandelion.content | linebreaksbr }}</div>
                {% if user.is_authenticated and dandelion.owner == user %}
                    <a href="{% url 'learning_logs:delete_dandelion' dandelion.id %}" class="btn btn-outline-primary">删除</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>没有发现蒲公英哦 ~</p>
    {% endfor %}
{% endblock content %}