{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <h2>{{ topic }}</h2>
    <div class="lead">{{ topic.description }}</div>
    <small class="text-muted">
        <a href="{% url 'learning_logs:user' topic.owner.id %}" class="text-reset"> {{ topic.owner }}</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg>
        <span title="{{ topic.date_added }}">{{ topic.date_added | naturaltime  }}</span>
    </small>
    {% if user.is_authenticated and topic.owner == user %}
        <div class="text-right">
            <a href="{% url 'learning_logs:edit_topic' topic.id %}" class="btn btn-outline-primary">编辑主题</a>
            <a href="{% url 'learning_logs:new_article' topic.id %}" class="btn btn-primary">写篇文章</a>
        </div>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% for article in articles %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article.title }}</a>
                </h5>
                <div class="text-muted mb-2">
                    <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article }}</a>
                </div>
                <small class="text-muted" title="{{ article.date_added }}">{{ article.date_added | naturaltime }}</small>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现文章 🧐</div>
    {% endfor %}
{% endblock content %}