{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <h2>{{ topic }}</h2>
    <div class="lead">{{ topic.description }}</div>
    <small class="text-muted">{{ topic.owner }} · {{ topic.date_added | naturaltime  }}</small>
    {% if user.is_authenticated and topic.owner == user %}
        <div class="text-right">
            <a href="{% url 'learning_logs:edit_topic' topic.id %}" class="btn btn-outline-primary">编辑主题</a>
            <a href="{% url 'learning_logs:new_article' topic.id %}" class="btn btn-primary">写篇文章</a>
        </div>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% for article in articles %}
        <div class="card mb-3">
            <div class="card-body">
                 <h5 class="card-title">
                     <a href="{% url 'learning_logs:article' article.id %}" class="stretched-link text-body text-decoration-none">{{ article.title }}</a>
                 </h5>
                <div class="text-muted mb-2">{{ article }}</div>
                <small class="text-muted">{{ article.date_added | naturaltime }}</small>
            </div>
        </div>
    {% empty %}
        <p>这个主题还没有文章哦 ~</p>
    {% endfor %}
{% endblock content %}