{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    <h2>📘 主题</h2>
    {% if user.is_authenticated %}
        <div class="text-right">
            <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary px-4">新建主题</a>
        </div>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% for topic in topics %}
        <div class="card mb-3">
            <div class="card-body">
                <a href="{% url 'learning_logs:topic' topic.id %}" class="text-reset">{{ topic }}</a>
                <small class="text-muted ml-3">
                    <a href="{% url 'learning_logs:topic' topic.id %}" class="text-reset">{{ topic.description }}</a>
                </small>
                <small class="float-right text-muted">
                    <a href="{% url 'learning_logs:user' topic.owner.id %}" class="text-reset">{{ topic.owner }}</a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                    <span title="{{ topic.date_added }}">{{ topic.date_added | naturaltime }}</span>
                </small>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现主题 🧐</div>
    {% endfor %}
{% endblock content %}