{% extends "learning_logs/base.html" %}
{% load humanize %}

{% block page_header %}
    {% if user.is_authenticated and users == user %}
    <h2>我的主页</h2>
    {% else %}
    <h2>用户主页</h2>
    {% endif %}
{% endblock page_header %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h3>{{ users.username }}</h3>
            <h5>{{ users.email }}</h5>
            <footer class="blockquote-footer float-right">
                <cite>{{ users.date_joined | date:"Y-m-d" }} 加入</cite>
            </footer>
        </div>
    </div>
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="dynamic-tab" data-toggle="tab" href="#dynamic" role="tab" aria-controls="dynamic" aria-selected="true">动态</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="topic-tab" data-toggle="tab" href="#topic" role="tab" aria-controls="topic" aria-selected="false">主题</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">文章</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="dandelion-tab" data-toggle="tab" href="#dandelion" role="tab" aria-controls="dandelion" aria-selected="false">蒲公英</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="dynamic" role="tabpanel" aria-labelledby="dynamic-tab">
            <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现动态 🧐</div>
        </div>
        <div class="tab-pane fade" id="topic" role="tabpanel" aria-labelledby="topic-tab">
            {% for topic in topics %}
                {% if topic.owner == user or topic.public %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="{% url 'learning_logs:topic' topic.id %}" class="text-reset">
                                {{ topic }}<small class="text-muted ml-3">{{ topic.description }}</small>
                            </a>
                            <small class="float-right text-muted">
                                <span title="{{ topic.date_added }}">{{ topic.date_added | naturaltime }}</span>
                            </small>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现主题 🧐</div>
            {% endfor %}
        </div>
        <div class="tab-pane fade show active" id="article" role="tabpanel" aria-labelledby="article-tab">
            {% for article in articles %}
                {% if article.topic.owner == user or article.topic.public %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article.title }}</a>
                            </h5>
                            <div class="text-muted mb-2">
                                <a href="{% url 'learning_logs:article' article.id %}" class="text-reset">{{ article }}</a>
                            </div>
                            <small class="text-muted">
                                <a href="{% url 'learning_logs:topic' article.topic.id %}" class="text-reset">{{ article.topic }}</a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                </svg>
                                <span title="{{ article.date_added }}">{{ article.date_added | naturaltime }}</span>
                            </small>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现文章 🧐</div>
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="dandelion" role="tabpanel" aria-labelledby="dandelion-tab">
            {% for dandelion in dandelions %}
                {% if dandelion.owner == user or dandelion.anonymous == False %}
                    <div class="card mb-3">
                        <div class="card-body">
                            {% if user.is_authenticated and dandelion.owner == user %}
                                <div class="float-right" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                    </svg>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'learning_logs:delete_dandelion' dandelion.id %}">删除</a>
                                </div>
                            {% endif %}
                            <div class="mb-2">{{ dandelion.content | linebreaksbr }}</div>
                            <small class="text-muted" title="{{ dandelion.date_added }}">{{ dandelion.date_added | naturaltime }}</small>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <div class="alert alert-warning text-center py-5 lead" role="alert">这里没有发现蒲公英 🧐</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}